<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>
        Profile Details
    </h1>

    <div>

        <span> Name:  <%= user.email  %>  </span>

      <% if(userType === 'patient') {%>  <a href="/appoint/schedule/<%= user._id %>"  >  Want to book an appointment  </a>  <%}%>

      <% if(userType === 'doctor') { %>   
        
        <% for(  let appointment of appointments  ) { %>  

            <div>

                <h3>
                    Appointment
                </h3>

                <span>  <%=  appointment.patient.email  %>   </span>
                <span id="<%= appointment._id %>" >  <%=  appointment.status  %>   </span>

                <!-- <a href="/appoint/setStatus/<%= appointment._id %>?status=accepted" >  Accept appointment   </a>
                <a href="/appoint/setStatus/<%= appointment._id %>?status=rejected" >  Reject appointment   </a> -->

                <button onclick="changeAppoitmentStatus('<%= appointment._id %>', 'accepted')" >  Accept Appointment </button>
                <button onclick="changeAppoitmentStatus('<%= appointment._id %>', 'rejected')" >  Reject Appointment </button>


                <h3>
                    Generate Report
                </h3>

                <a  href="/report/generate/<%= appointment._id %>?status=positive" > Generate Positive Report  </a>
                <a  href="/report/generate/<%= appointment._id %>?status=negative" > Generate negative Report  </a>



            </div>

            <% } %>
        
        <% } %>

    </div>

    <script>

        async function changeAppoitmentStatus (appID, status) {

          let response =   await fetch(
                `http://localhost:8000/v1/api/appoint/setStatus/${appID}?status=${status}`, 
                { method: "PATCH",
                });

            let parsedResponse = await response.json();

            let statusSpan = document.getElementById(`${parsedResponse.appointment._id}`);
            statusSpan.innerText =  parsedResponse.appointment.status;

        }

    </script>

</body>
</html>